createdAt: "2019-09-09T06:14:08.087Z"
updatedAt: "2019-09-09T06:22:34.436Z"
type: "MARKDOWN_NOTE"
folder: "b54907bec9ebd1910d19"
title: "Unix进程访问文件的权限测试"
tags: []
content: '''
  ## Unix进程访问文件的权限测试
  
  进程每次打开，创建或者删除一个文件时，内核就进行文件访问权限测试。这种测试涉及文件的所有者，进程的有效ID(有效用户和有效组ID)以及进程的附加组ID。
  
  - 若进程的有效用户ID是0(超级用户)，则允许访问。这给予了超级用户对整个文件系统进行处理的最充分的自由。
  - 若进程的有效用户ID等于文件的所有者ID，那么，若所有者适当的访问权限位被设置，则允许访问，否则拒绝访问。适当的访问权限位指的是，若进程为读而打开该文件，则用户读位应该为1；若进程为写而打开该文件，则用户写位应为1.若进程为执行该文件，则用户执行位应为1.
  - 若进程的有效组ID或进程的附加组ID之一等于文件的组ID，那么：若组适当的访问权限位被设置，则允许访问，否则拒绝访问。
  - 若其他用户适当的访问权限位被设置，则允许访问，否则拒绝访问。
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
