createdAt: "2019-09-03T08:27:56.040Z"
updatedAt: "2019-09-03T08:28:14.722Z"
type: "MARKDOWN_NOTE"
folder: "b54907bec9ebd1910d19"
title: "Mockito Outer Service"
tags: []
content: '''
  ## Mockito Outer Service
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
